@charset "UTF-8";

body {
	color: #424242;
}

div {
	display: block;
}

table {
	display: table;
	border-collapse: separate;
	border-color: grey;
	/* padding-left: 35px; */
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td {
	display: table-cell;
}

table[Attributes Style] {
	width: 534px;
	-webkit-border-hirizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.admin_category_menu {
	margin: 18px 0 5px;
	text-align: center;
}

.admin_category_menu td {
	vertical-align: top;
	padding: 0;
	border: 0;
}

.category_list_area {
	/* border: 1px double #bcbcbc; */
	margin-left: 0;
	text-align: left;
}

.category_list_area li {
	list-style-type: none;
}

.category_list_area .category_list li .list {
	background:
	 url(https://blogimgs.pstatic.net/nblog/admin20/ico_n_list.gif) 12px 3px no-repeat;
	padding: 3px 0 1px 25px;
	zoom: 1;
}

.category_list_area .category_list li div {
	overflow: hidden;
	min-height: 14px;
	border: solid 1px #fff;
}

.category_list_area .category_list .bar {
	cursor: n-resize;
}

.category_list_area .category_list .admin_selected_category {
	padding: 5px 0 0 0;
}

.category_list_area .category_list ul {
	overflow: auto;
	overflow-x: hidden;
	zoom: 1;
	margin: 0;
	padding: 5px 0;
	width: 221px;
}

.category_list_area .category_list li em {
	color: #666;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
}

.category_list_area * {
	margin: 0;
}

.category_heading {
	position: relative;
	width: 100%;
	padding-bottom: 3px;
}

.category_list {
	padding: 1px;
	border: 1px solid #969694;
}

.category_list li {
	zoom: 1;
	margin: 0;
	padding: 0;
	line-hieght: 1.2em;
	word-break: break-all;
	word-wrap: break-word;
	width: 221px;
}

.tree {
	border: 1px solid #6f6f65;
}

.tree li .tree-node label {
	float: left;
	widht: 118px;
}

.tree li .tree-button {
	float: left;
	display: none;
}

.tree li .tree-node /* .tree-selected .tree-div-selected */ {
	background-color: #b1b3bf !important;
	border-color: #b1b3bf !important;
}

.tree li .tree-node /* .tree-selected .tree-div-selected */ label span {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.tree-selected, .tree-div-selected {
	background-color: #b1b3bf !important;
	border-color: #b1b3bf !important;
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

img {
	border: none;
}

img[Attributes Style] {
	width: 221px;
	height: 16px;
}

button {
	color: #424242;
	align-items: flex-start;
	text-align: center;
	cursor: default;
	background-color: buttonface;
	box-sizing: border-box;
	border-width: 2px;
	border-style: outset;
	border-color: buttonface;
	border-image: initial;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	-webkit-writing-mode: horizontal-tb !important;
	-webkit-oppearance: button;
}

label {
	cursor: default;
}

ul.tree1 {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
	text-decoration: none;
	color: #424242;
}

a:-webkit-any-link {
	cursor: pointer;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	list-style: none;
	display: list-item;
	text-align: -webkit-match-parent;
}

li.first-child {
	font-weight: 700;
	margin-bottom: 6px;
	padding-left: 5px;
}

.pm {
	padding-right: 35px;
	font-size: 20px;
}
    
/* topMenu */

	.topMenu {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin: 0 0 2em -6em;
		width: calc(100% + 6em);
		text-align: center;
		justify-content:center;
	}

		.topMenu article {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			margin: 0 0 6em 6em;
			position: relative;
			width: calc(33.3333333333% - 6em);
		}

			.topMenu article:before {
				background: rgba(210, 215, 217, 0.75);
				content: '';
				display: block;
				height: calc(100% + 6em);
				left: -3em;
				position: absolute;
				top: 0;
				width: 1px;
			}

			.topMenu article:after {
				background: rgba(210, 215, 217, 0.75);
				bottom: -3em;
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				right: 0;
				width: calc(100% + 6em);
			}

			.topMenu article > :last-child {
				margin-bottom: 0;
			}

			.topMenu article .image {
				display: block;
				margin: 0 0 2em 0;
			}

				.topMenu article .image img {
					display: block;
					width: 100%;
				}

		@media screen and (min-width: 1681px) {

			.topMenu article:nth-child(3n + 1):before {
				display: none;
			}

			.topMenu article:nth-child(3n + 1):after {
				width: 100%;
			}

			.topMenu article:nth-last-child(1), .topMenu article:nth-last-child(2), .topMenu article:nth-last-child(3) {
				margin-bottom: 0;
			}

				.topMenu article:nth-last-child(1):before, .topMenu article:nth-last-child(2):before, .topMenu article:nth-last-child(3):before {
					height: 100%;
				}

				.topMenu article:nth-last-child(1):after, .topMenu article:nth-last-child(2):after, .topMenu article:nth-last-child(3):after {
					display: none;
				}

		}

		@media screen and (max-width: 1680px) {

			.topMenu article {
				width: calc(50% - 6em);
			}

				.topMenu article:nth-last-child(3) {
					margin-bottom: 6em;
				}

		}

		@media screen and (min-width: 481px) and (max-width: 1680px) {

			.topMenu article:nth-child(2n + 1):before {
				display: none;
			}

			.topMenu article:nth-child(2n + 1):after {
				width: 100%;
			}

			.topMenu article:nth-last-child(1), .topMenu article:nth-last-child(2) {
				margin-bottom: 0;
			}

				.topMenu article:nth-last-child(1):before, .topMenu article:nth-last-child(2):before {
					height: 100%;
				}

				.topMenu article:nth-last-child(1):after, .topMenu article:nth-last-child(2):after {
					display: none;
				}

		}

		@media screen and (max-width: 736px) {

			.topMenu {
				margin: 0 0 2em -4.5em;
				width: calc(100% + 4.5em);
			}

				.topMenu article {
					margin: 0 0 4.5em 4.5em;
					width: calc(50% - 4.5em);
				}

					.topMenu article:before {
						height: calc(100% + 4.5em);
						left: -2.25em;
					}

					.topMenu article:after {
						bottom: -2.25em;
						width: calc(100% + 4.5em);
					}

					.topMenu article:nth-last-child(3) {
						margin-bottom: 4.5em;
					}

		}

		@media screen and (max-width: 480px) {

			.topMenu {
				margin: 0 0 2em 0;
				width: 100%;
			}

				.topMenu article {
					margin: 0 0 4.5em 0;
					width: 100%;
				}

					.topMenu article:before {
						display: none;
					}

					.topMenu article:after {
						width: 100%;
					}

					.topMenu article:last-child {
						margin-bottom: 0;
					}

						.topMenu article:last-child:after {
							display: none;
						}

		}
	/*=========================== */