@charset "EUC-KR";

.font1 {
	font-family: 'Poppins';
}

.font2 {
	font-family: 'Poppins';
	font-size: 35px;
}

.img-fluid {
  max-width: 100%;
  height: auto; 
}

.read-more-sample {
    font-size: 12px;
    color: #000;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 30px;
    height: 40px;
    min-width: 130px;
    line-height: 40px;
    text-align: center;
}

.read-more-sample:hover {
	background-color: #ebebeb;
}

.block-27 ul {
  padding: 0;
  margin: 0; }
  .block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400; }
    .block-27 ul li a, .block-27 ul li span {
      color: #1f1f1f;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 1px solid #e6e6e6; }
    .block-27 ul li.active a, .block-27 ul li.active span {
      background: #1f1f1f;
      color: #fff;
      border: 1px solid transparent; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; 
  text-align: center;
  justify-content:center;
  }